@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
   box-sizing: border-box;
}
html, body
{
        overflow-x: hidden;
}
body
{
    background-color: rgb(53, 50, 50);

}
/*-----------------------------HEADER---------------------------------*/
header
{
    width: 100vw;
    height: 70vh;
    background-image: url(me.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hamburger
{
    display: none;
}
nav
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10%;
}
nav>p
{
color: white;
font-size: 40px;
padding-left: 17%;
}
.links
{
    color: white;
    width: auto;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.links>a
{
   display: flex;
   align-items: center;
   padding: 0 8%;
   margin-top: 1%;
    transition: 0.2s ease-in-out;
    color: white;
    text-decoration: none;
}
a:hover
{
    background-color: rgb(28, 56, 80);
}
.headerme
{
    display: flex;
    flex-direction: column;
    height: calc(70vh - 49px);
    align-items: center;
    justify-content: center;
    padding-left: 23%;
    text-align: center;
}
.headerme>:nth-child(1)
{
font-size: 60px;
color: white;
}
.headerme>:nth-child(2)
{
    font-size: 25px;
    color: white;
}

/*------------------------------ABOUT ME-------------------*/
.aboutme
{
height: 70vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
}

.aboutme>div
{
width: 1200px;
height: 646px;
gap: 2%;
border: 5px solid rgb(46, 45, 45);
border-radius:12px;
display: flex;
flex-direction: row;
    background-color: rgb(33, 32, 32);
}
.aboutme img
{
    width: 35%;
    height: 100%;
}
.data
{
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    gap: 10%;

}
.data>:nth-child(1)>:nth-child(1) 
{
color: grey;
font-weight:800;
font-size: 15px;
}
.data>:nth-child(1)>:nth-child(2){
color: white;
font-size: 40px;
font-weight: 600;
}
.data>:nth-child(1)>:nth-child(3){
color: grey;
font-size: 23px;
}
.details
{
    width: 70%;
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 7%;
}
.details>:nth-child(odd)
{
    color: white;
    font-size: 25px;
}
.details>:nth-child(even)
{
    color: grey;
    font-size: 25px;
}

/*----------------------------SKILLS-------------------------*/





.box>:nth-child(1)
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 9%;
}
.box>div>:nth-child(1)
{
color: grey;
font-weight:800;
font-size: 1rem;
gap: 3%;
}
.box>div>:nth-child(2)
{
    color: white;
    font-size: 3rem;
}
.box>div>:nth-child(3){
color: grey;
font-size: 1rem;
}
.box
{
    margin-top: 4%;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box>div
{
  width: 1500px;
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container
{
display: flex;
gap: 3%;
}
.container>div
{
    width: 31%;
  height: 50%;
  background-color: #181A1B;
  border: 3px solid #141516;
  border-radius: 15px;
}
.skills>:nth-child(1)
{
  width: 100%;
  height: 70%;
}
.skills>:nth-child(2)
{
  width: 100%;
  height: 30%;
}
.skills>:nth-child(1)>img
{
  width: 40%;
  height: 80%;
  margin: 0% 31%;
}
.skills>:nth-child(2)
{
  display: flex;
  flex-direction: row;
  padding: 0% 27%;
  gap: 24%;
}
.skills>:nth-child(1) , .skills>:nth-child(2)
{
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 3%;
  text-align: center;
}



@media (max-width:1500px)
{
    /*-------------HEADER----------------*/
    nav
    {
        gap: 0;
    }
    nav>p{
        padding-left: 2%;
    }
    /*---------------ABOUT ME-----------------*/
.aboutme img
{
    width:33%;
}
      .aboutme>div
   {
    width: 900px;
    height: 485px;
   }
     .details
  {
    gap: 0;
  }
    /*---------------SKILLS--------------------*/
   .box>div
{
  width: 900px;
  height: 480px;
}
.skills>:nth-child(1) , .skills>:nth-child(2)
{
  font-size: 1rem;
}
    .box
    {
        margin-top: -18%;
    }  
    /*---------------------------*/
}



@media (max-width:1250px)
{
    /*-----------------HEADER--------------------*/
    nav>p{
        font-size: 35px;
    }
   .links>a{
    font-size: 15px;
   } 
   .headerme
   {
    padding-left: 12%;
    padding-top: 44%;
   }
   /*------------------ABOUT ME-----------------*/
   .headerme>:nth-child(1)
  {
  font-size: 50px; 
  }
  .headerme>:nth-child(2)
  {
    font-size: 23px; 
  }
      .box
    {
        margin-top: -25%;
    } 
  /*---------------------------*/
}



@media(max-width:900px)
{
    /*---------------HEADER--------------------*/
    nav{
        display: none;
    }
    .hamburger
    {
        display: flex;
        font-size: 50px;
        color: white;
        padding-left: 20px;
    }
    /*-----------------ABOUT ME--------------------*/
    .aboutme img
    {
        width: 0;
    }
    /*-------------------SKILLS--------------------*/
    .box>div{
width: 750px;
height: 400px;
}
.skills>:nth-child(1) , .skills>:nth-child(2)
{
  font-size: 0.8rem;
}
    /*-------------------*/
}



@media (max-width:670px)
{
    /*-------HEADER----------*/
    /*-------ABOUT ME----------*/
    /*----------------SKILL------------------*/
      .box
    {
        margin-top: -8%;
    } 
    .box
  {
    height: 290vh;
  }
  .box>div
  {
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .box>div div
  {
    width: 100%;
  }
  .skills>:nth-child(1)>img
{
  width: 50%;
  height: 80%;
  margin: 0% 26%;
}
.skills>:nth-child(1) , .skills>:nth-child(2)
{
  font-size: 1.5rem;
}
}



@media(max-width:500px)
/*-------HEADER----------*/
/*-------ABOUT ME----------*/
{
    .data>:nth-child(1)>:nth-child(1) 
{
font-size: 15px;
}
.data>:nth-child(1)>:nth-child(2){
font-size: 35px;
}
.data>:nth-child(1)>:nth-child(3){
font-size: 17.5px;
}
.details>:nth-child(odd)
{
    font-size: 25px;
}
.details>:nth-child(even)
{
    font-size: 25px;
}
    .box
    {
        margin-top: 22%;
    } 
}





h1, h2, h3, h4, h5, h6, p, a, span, li,div {
    animation: popIn 0.6s ease-out forwards;
    opacity: 0;
}
@keyframes popIn {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.98);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.pop-animate {
    opacity: 0;
    animation: popIn 0.6s ease-out forwards;
}
