@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
   box-sizing: border-box;
}
html, body
{
        overflow-x: hidden;
}
body
{
    background-color: #1B1E1F;

}
/*-----------------------------HEADER---------------------------------*/
header
{
    width: 100vw;
    height: 70vh;
    background-image: url(me.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hamburger
{
    display: none;
}
nav
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 7%;
    position: fixed;
    z-index: 999;
}
nav>p
{
color: white;
font-size: 40px;
padding-left: 17%;
}
.links
{
    color: white;
    width: auto;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.links>a
{
   display: flex;
   align-items: center;
   font-size: 15px;
   padding: 0 14%;
   margin-top: 1%;
    transition: 0.2s ease-in-out;
    color: white;
    text-decoration: none;
}
a:hover
{
    background-color: rgb(28, 56, 80);
}
.headerme
{
    display: flex;
    flex-direction: column;
    height: calc(70vh - 49px);
    align-items: center;
    justify-content: center;
    padding-left: 23%;
    text-align: center;
}
.headerme>:nth-child(1)
{
font-size: 60px;
color: white;
}
.headerme>:nth-child(2)
{
    font-size: 25px;
    color: white;
}

/*------------------------------ABOUT ME-------------------*/
.aboutme
{
height: 82vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
}

.aboutme>div
{
width: 1200px;
height: 646px;
gap: 2%;
border: 2px solid #161819(36, 35, 35);
border-radius:12px;
display: flex;
flex-direction: row;
    background-color: #181A1B;
}
.aboutme img
{
    width: 35%;
    height: 100%;
}
.data
{
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    gap: 15%;

}
.data>:nth-child(1)
{
    display: flex;
    flex-direction: column;
    height: 30%;
    gap: 15%;
}
.data>:nth-child(1)>:nth-child(1) 
{
color: grey;
font-weight:800;
font-size: 15px;
}
.data>:nth-child(1)>:nth-child(2){
color: white;
font-size: 40px;
font-weight: 600;
}
.data>:nth-child(1)>:nth-child(3){
color: grey;
font-size: 17px;
}
.details
{
    width: 40%;
    height: 55%;
    display: grid;
    grid-template-columns:1fr 1fr ;
}
.details>:nth-child(odd)
{
    color: white;
    font-size: 18px;
}
.details>:nth-child(even)
{
    color: grey;
    font-size: 18px;
}

/*----------------------------SKILLS-------------------------*/





.box>:nth-child(1)
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 9%;
}
.box>div>:nth-child(1)
{
color: grey;
font-weight:800;
font-size: 1rem;
gap: 3%;
}
.box>div>:nth-child(2)
{
    color: white;
    font-size: 3rem;
}
.box>div>:nth-child(3){
color: grey;
font-size: 1rem;
}
.box
{
    margin-top: 2%;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box>div
{
  width: 1500px;
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container
{
display: flex;
gap: 3%;
}
.container>div
{
    width: 31%;
  height: 50%;
  background-color: #161819;
  border-radius: 15px;
}
.skills>:nth-child(1)
{
  width: 100%;
  height: 70%;
}
.skills>:nth-child(2)
{
  width: 100%;
  height: 30%;
}
.skills>:nth-child(1)>img
{
  width: 40%;
  height: 80%;
  margin: 0% 31%;
}
.skills>:nth-child(2)
{
  display: flex;
  flex-direction: row;
  padding: 0% 27%;
  gap: 24%;
}
.skills>:nth-child(1) , .skills>:nth-child(2)
{
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 3%;
  text-align: center;
}

/*---------------------------FOOTERRRRRR-------------*/
.contact
{
  background-color: #181A1B;
  margin-top: 7%;
  width: 100vw;
  height: 80vh;
}
.fheading
{
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    text-align: center;
  gap: 6%;
}
.fheading>:nth-child(1)
{
  font-size: 15px;
  color: grey;
  font-weight: 800;
}
.fheading>:nth-child(2)
{
  font-size: 45px;
  color: white;
  font-weight: 700;
}
.fheading>:nth-child(3)
{
  font-size: 15px;
  color: grey;
}
.form
{
  height: 70%;
  display: flex;
  flex-direction: row;
  gap: 2%;
}


.input{
  width: 49%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.input>div
{
  border-radius: 10px;
  background-color: #1B1E1F;
  width: 65%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.your
{
  height:20%;
  display: flex;
  justify-content: center;
  align-items: center;
    gap: 5%;
}
.your>input
{
  border: 2px solid #4A5053;
  background: transparent;
  padding: 2% 3%;
  width: 40%;
  height: 54%;
}

.message
{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
}
.message>input
{
    border: 2px solid #4A5053;
  background: transparent;
  padding: 2% 3%;
  width: 85%;
  height: 13%;
}
.message>textarea
{
  width: 85%;
  height: 55%;
  background: transparent;
      border: 2px solid #4A5053;
  padding: 2% 3%;
}
.your input::placeholder, .message>input::placeholder, .message>textarea::placeholder
{
  font-size: 13px;
  color: #38393A;
  font-weight: 800;
}
button
{
margin-right:52%;
width: 32%;
height: 12%;
background-color: #464731;
border: 1px solid #4A5053;
border-radius: 7px;
 color: white;
 font-weight: 500;
}

.footerlinks
{
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 8%;
}
.footerlinks>div
{
  display: flex;
  flex-direction: row;
}
.linkdetail>:nth-child(1)
{
color: white;
}
.linkdetail>:nth-child(2)
{
color: #6B6761;
}


@media (max-width:1500px)
{
    /*-------------HEADER----------------*/
    nav>p{
        padding-left: 2%;
    }
    /*---------------ABOUT ME-----------------*/
.aboutme img
{
    width:33%;
}
      .aboutme>div
   {
    width: 900px;
    height: 485px;
   }
     .details
  {
    gap: 0;
  }
    /*---------------SKILLS--------------------*/
   .box>div
{
  width: 900px;
  height: 480px;
}
.skills>:nth-child(1) , .skills>:nth-child(2)
{
  font-size: 1rem;
}
    .box
    {
        margin-top: -8%;
    }  
    /*---------------------------*/
}



@media (max-width:1250px)
{
    /*-----------------HEADER--------------------*/
    nav>p{
        font-size: 35px;
    }
   .links>a{
    font-size: 12px;
   } 
   .headerme
   {
    padding-left: 12%;
    padding-top: 44%;
   }
   /*------------------ABOUT ME-----------------*/
   .headerme>:nth-child(1)
  {
  font-size: 50px; 
  }
  .headerme>:nth-child(2)
  {
    font-size: 23px; 
  }
      .box
    {
        margin-top: -25%;
    } 
  /*---------------------------*/
  .input>div
  {
    width: 85%;
  }
}



@media(max-width:900px)
{
    /*---------------HEADER--------------------*/
    nav{
        display: none;
    }
    .hamburger
    {
        display: flex;
        font-size: 50px;
        color: white;
        padding-left: 20px;
    }
    /*-----------------ABOUT ME--------------------*/
    .aboutme img
    {
        width: 0;
    }
    /*-------------------SKILLS--------------------*/
    .box>div{
width: 750px;
height: 400px;
}
.skills>:nth-child(1) , .skills>:nth-child(2)
{
  font-size: 0.8rem;
}
    /*-------------------*/
}



@media (max-width:670px)
{
    /*-------HEADER----------*/
    /*-------ABOUT ME----------*/
    /*----------------SKILL------------------*/
      .box
    {
        margin-top: -8%;
        height: 290vh;
    } 
  .box>div
  {
    width: 100%;
    height: 100%;
    gap:1%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .box>div div
  {
    width: 89%;
  }
  .skills
  {
    margin: 0% 6%;
  }
  .skills>:nth-child(1)>img
{
  width: 50%;
  height: 80%;
  margin: 0% 26%;
}
.skills>:nth-child(1) , .skills>:nth-child(2)
{
  font-size: 1.5rem;
}
/*---------FOOTER----------*/
footer
{
  margin-top: 40%;
  height: 130vh;
}
.contact
{
  height: 100%;
}
.form
{
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.input
{
 width: 78%;
 height: 65%; 
 align-items: center;
}
.footerlinks
{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footerlinks>div
{
  width: 100%;
}
}



@media(max-width:500px)
/*-------HEADER----------*/
/*-------ABOUT ME----------*/
{
    .data>:nth-child(1)>:nth-child(1) 
{
font-size: 15px;
}
.data>:nth-child(1)>:nth-child(2){
font-size: 35px;
}
.data>:nth-child(1)>:nth-child(3){
font-size: 17.5px;
}
.details>:nth-child(odd)
{
    font-size: 25px;
}
.details>:nth-child(even)
{
    font-size: 25px;
}
    .box
    {
        margin-top: 22%;
    } 
}







