@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
   box-sizing: border-box;
}
html, body
{
        overflow-x: hidden;
}
body
{
    background-color: #1b1e1f;

}
/*-----------------------------HEADER---------------------------------*/
header
{
    width: 100vw;
    height: auto;
    background-image: url(me3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hamburger
{
    display: none;
}
nav
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6%;
    gap: 7%;
    position: fixed;
    transition: 0.3s ease-in-out;
    z-index: 999;
}
nav.scrolled {
    background-color: #181A1B; 
    backdrop-filter: blur(8px);
}
nav>p
{
color: white;
font-size: 35px;
font-weight: 700;
padding-top: 9px;
padding-left: 17%;
}
.links
{
    color: white;
    width: auto;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.links>a
{
   display: flex;
   align-items: center;
   font-size: 15px;
   padding: 0 14%;
   margin-top: 1%;
    transition: 0.2s ease-in-out;
    color: white;
    text-decoration: none;
}
a:hover
{
    background-color: #444530;
}
.headerme
{
    display: flex;
    flex-direction: column;
    height: calc(70vh - 49px);
    align-items: center;
    justify-content: center;
    padding-left: 23%;
    text-align: center;
}
.headerme>:nth-child(1)
{
font-size: 60px;
color: #94976d;
font-weight: 600;
}
.headerme>:nth-child(2)
{
    font-size: 25px;
    color: white;
}

/*------------------------------ABOUT ME-------------------*/
.aboutme
{
  padding: 5% 4%;
height: auto;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
}

.aboutme>div
{
width: 1200px;
height: 646px;
gap: 2%;
border: 2px solid #161819(36, 35, 35);
border-radius:12px;
display: flex;
flex-direction: row;
    background-color: #181A1B;
}
.aboutme img
{
    width: 35%;
    height: 100%;
}
.data
{
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    gap: 15%;

}
.data>:nth-child(1)
{
    display: flex;
    flex-direction: column;
    height: 30%;
    gap: 15%;
}
.data>:nth-child(1)>:nth-child(1) 
{
color: grey;
font-weight:800;
font-size: 15px;
}
.data>:nth-child(1)>:nth-child(2){
color: #94976d;
font-size: 40px;
font-weight: 600;
}
.data>:nth-child(1)>:nth-child(3){
color: grey;
font-size: 17px;
}
.details
{
    width: 40%;
    height: 55%;
    display: grid;
    grid-template-columns:1fr 1fr ;
}
.details>:nth-child(odd)
{
    color: white;
    font-size: 18px;
}
.details>:nth-child(even)
{
    color: grey;
    font-size: 18px;
}

/*----------------------------SKILLS-------------------------*/





.boxheading
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5% 0%;
    gap: 20px;
}
.box>div>:nth-child(1)
{
color: grey;
font-weight:800;
font-size: 1rem;
}
.box>div>:nth-child(2)
{
    color: #94976d;
    font-weight: 700;
    font-size: 3rem;
}
.box>div>:nth-child(3){
color: grey;
font-size: 1rem;
}
.box
{

  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container
{
  width: 85%;
  margin: 0% 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
}
.container>div
{
  width:430px;
  height: 50%;
  margin-bottom: 3%;
  background-color: #181A1B;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}
.skills:hover
{
  transform: scale(1.1);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3); 
}
.skills>:nth-child(1)
{
  width: 100%;
  height: 70%;
}
.skills>:nth-child(2)
{
  width: 100%;
  height: 30%;
}
.skills>:nth-child(1)>img
{
  width: 40%;
  height: 80%;
  margin: 0% 31%;
}
.skills>:nth-child(2)
{
  display: flex;
  flex-direction: row;
  padding: 0% 27%;
  gap: 24%;
}
.skills>:nth-child(1) 
{
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 3%;
  text-align: center;
}
.skills>:nth-child(2)
{
  color: #94976d;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

/*---------------------------HOBBIES-------------------*/
.hobbies
{
  width: 100vw;
  height: auto;
  padding: 5% 4%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.htitle
{
height: 20%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
gap: 20px;
}
.htitle>:nth-child(1)
{
  color: grey;
  font-size: 15px;
  font-weight: 800;
}
.htitle>:nth-child(2)
{
  color: #94976d;
  font-size: 45px;
  font-weight: 700;
}
.htitle>:nth-child(3)
{
  color: grey;
  font-size: 15px;
}
.hdetails
{
height: 80%;
display: flex;
align-items: center;
justify-content: center;
}
.hdetails>div
{
  width: 1300px;
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hobby
{
  width: 300px;
  height: 500px;
  background-color: #181A1B;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}
.hobby:hover
{
  background-color: #57593e;
}
.hobby img
{
  transition: 0.3s ease-in-out;
  border-radius: 50%;
  
}
.hobby:hover img
{
  transform: scale(1.1);
}


.hobby>:nth-child(1)
{
  width: 100%;
  height: 30%;
}
.hobby>:nth-child(2)
{
  height: 70%;
  color: white;
  font-size: 20px;
  padding: 0% 12%;
  display: flex;
  flex-direction: column;
  gap: 6%;
}
.hobby>:nth-child(2)>:nth-child(1)
{
  font-size: 25px;
}
.hobby>:nth-child(2)>:nth-child(2)
{
  color: #A39B91;
}



/*---------------------------FOOTERRRRRR-------------*/
.contact
{
  background-color: #181A1B;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 5% 0%;
}
.fheading
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.fheading>:nth-child(1)
{
  font-size: 15px;
  color: grey;
  font-weight: 800;
}
.fheading>:nth-child(2)
{
  font-size: 45px;
  color: #94976d;
  font-weight: 700;
}
.fheading>:nth-child(3)
{
  font-size: 15px;
  color: grey;
}
.form
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0% 22%;
  gap: 30px;
}


.input{
  width: 64%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input>div
{ 
  width: 100%;
  border-radius: 10px;
  background-color: #1B1E1F;
  display: flex;
  flex-direction: column;
  padding: 5px 0%;
}
.your
{
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
    gap: 5%;
}
.your>input
{
  border: 2px solid #4A5053;
  background: transparent;
  padding: 2% 3%;
  width: 40%;
  height: 54%;
}

.message
{
  height: 330px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.message>input
{
    border: 2px solid #4A5053;
  background: transparent;
  padding: 2% 3%;
  width: 85%;
  height: 19%;
}
.message>textarea
{
  width: 85%;
  height: 100%;
  background: transparent;
      border: 2px solid #4A5053;
  padding: 2% 3%;
}
.your input::placeholder, .message>input::placeholder, .message>textarea::placeholder
{
  font-size: 13px;
  color: #38393A;
  font-weight: 800;
}
button
{
margin-right:52%;
width: 32%;
height: 25%;
background-color: #464731;
border: 1px solid #4A5053;
border-radius: 7px;
 color: white;
 font-weight: 500;
}

.footerlinks
{
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.footerlinks>div
{
  display: flex;
  flex-direction: row;
}
.linkdetail>:nth-child(1)
{
color: white;
}
.linkdetail>:nth-child(2)
{
color: #6B6761;
}

@media (max-width:1300px)
{
    nav
    {
      width: 30%;
    }
    nav p
    {
      font-size: 20px;
    }
}

@media (max-width:1200px)
{
        .aboutme>div
   {
    width: 900px;
    height: 485px;
   }
}

@media (max-width:840px)
{
  .input
  {
    width: 80%;
  }
  .form
  {
    margin: 0% 2%;
    flex-direction: column;
  }
  nav
  {
    display: none;
  }
  .hamburger
  {
    display: flex;
    font-size: 50px;
    color: white;
    padding-left: 20px;
}
}

@media (max-width:780px)
{
  .headerme
  {
    padding-top: 60%;
    padding-left: 0%;
  }
   .aboutme img
   {
    width: 0;
   }
   .hobby
   {
    height: 320px;
   }
  .boxheading
  {
    padding: 15% 0%;
  }
  .contact
  {
    padding: 15% 0%;
  }
}














