@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
   box-sizing: border-box;
}
html, body
{
        overflow-x: hidden;
}
body
{
    background-color: rgb(53, 50, 50);

}
header
{
    width: 100vw;
    height: 70vh;
    background-image: url(me.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hamburger
{
    display: none;
}
nav
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 6%;
}
nav>p
{
color: white;
font-size: 40px;
padding-left: 17%;
}
.links
{
    color: white;
    width: auto;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.links>a
{
   display: flex;
   align-items: center;
   padding: 0 8%;
   margin-top: 1%;
    transition: 0.2s ease-in-out;
    color: white;
    text-decoration: none;
}
a:hover
{
    background-color: rgb(28, 56, 80);
}
.headerme
{
    display: flex;
    flex-direction: column;
    height: calc(70vh - 49px);
    align-items: center;
    justify-content: center;
    padding-left: 23%;
    text-align: center;
}
.headerme>:nth-child(1)
{
font-size: 60px;
color: white;
}
.headerme>:nth-child(2)
{
    font-size: 25px;
    color: white;
}


.aboutme
{
height: 70vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
}

.aboutme>div
{
height: 87%;
width: 55%;
gap: 2%;
border: 5px inset rgb(32, 32, 32);
display: flex;
flex-direction: row;
    background-color: rgb(33, 32, 32);
}
.aboutme img
{
    width: 35%;
    height: 100%;
}
.data
{
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    gap: 10%;

}
.data>:nth-child(1)>:nth-child(1) 
{
color: grey;
font-weight:800;
font-size: 15px;
}
.data>:nth-child(1)>:nth-child(2){
color: white;
font-size: 40px;
font-weight: 600;
}
.data>:nth-child(1)>:nth-child(3){
color: grey;
font-size: 23px;
}
.details
{
    width: 70%;
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 7%;
}
.details>:nth-child(odd)
{
    color: white;
    font-size: 25px;
}
.details>:nth-child(even)
{
    color: grey;
    font-size: 25px;
}


@media (max-width:1420px)
{
    nav
    {
        gap: 0;
    }
    nav>p{
        padding-left: 2%;
    }
    .aboutme>div
   { 
   height: 87%;
   width: 75%;
   }
     .aboutme img
  {
    width: 45%;
    height: 80%;
  }
  .aboutme>div
  {
    align-items: center;
  }
}
@media (max-width:1050px)
{
    nav>p{
        font-size: 35px;
    }
   .links>a{
    font-size: 15px;
   } 
   .headerme
   {
    padding-left: 12%;
    padding-top: 44%;
   }
   .headerme>:nth-child(1)
  {
  font-size: 50px; 
  }
  .headerme>:nth-child(2)
  {
    font-size: 23px; 
  }
     .aboutme img
  {
    width: 45%;
    height: 70%;
  }
  .details
  {
    gap: 0;
  }
}
@media(max-width:853px)
{
    nav{
        display: none;
    }
    .hamburger
    {
        display: flex;
        font-size: 50px;
        color: white;
        padding-left: 20px;
    }
    .aboutme img
    {
        width: 0;
    }
}
@media(max-width:500px)
{
    .data>:nth-child(1)>:nth-child(1) 
{
font-size: 10px;
}
.data>:nth-child(1)>:nth-child(2){
font-size: 30px;
}
.data>:nth-child(1)>:nth-child(3){
font-size: 18px;
}
.details>:nth-child(odd)
{
    font-size: 20px;
}
.details>:nth-child(even)
{
    font-size: 20px;
}

}
